{{ require_js("https://code.jquery.com/jquery-3.4.0.min.js", "head") }}
{{ require_js("https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js", "head") }}
{{ require_js("https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/ScrollToPlugin.min.js", "head") }}

<div class="container-fluid belch-jacker">
  <div class="row-fluid belch-jacker-section">
    <div class="left">
      {% for section in module.section %}
        <div class="belchj-inner-section slide">
          <div class="bg-overlay">
            <div class="bg-overlay-image" style="background:url({{section.background_image.src}}) no-repeat;background-size: cover;background-position: center center;"></div>
            <div class="bg-overlay-color" style="background: {{section.background_color.color}};opacity: {{section.background_color.opacity / 100}};"></div>
          </div>
          <div class="belchj-inner-content-wrapper">
            {{section.section_content}}
          </div>
        </div>      
      {% endfor %}
    </div>
    <div class="right" style="background: {{ module.sticky_content_background_color.color }};">
				<div class="belchj-inner-content-wrapper">
					{{module.sticky_content}}
          {% form
            form_to_use="{{ module.sticky_form.form_id }}"
            response_response_type="{{ module.sticky_form.response_type }}"
            response_message="{{ module.sticky_form.message }}"
            response_redirect_id="{{ module.sticky_form.redirect_id }}"
            response_redirect_url="{{module.sticky_form.redirect_url}}"
            gotowebinar_webinar_key="{{ module.sticky_form.gotowebinar_webinar_key }}"
          %}
      </div>      
    </div>
  </div>
</div>
